In [104]:
import numpy as np
import preprocessor as p
import pandas as pd

In [105]:
data = pd.read_csv('tweets_formatted_data.csv',header=None,error_bad_lines=False)

b'Skipping line 144: expected 2 fields, saw 3\nSkipping line 197: expected 2 fields, saw 3\nSkipping line 225: expected 2 fields, saw 3\nSkipping line 245: expected 2 fields, saw 3\n'

In [106]:
data

             0                                                  1
0    emergency  unable to sit due to sticky stains on berth. P...
1    emergency  pnr no 4512791357 need mdical emergency.having...
2    emergency  mobile stolen , need emergency help to track i...
3    emergency  no water supply in basins for the hast 7 hours...
4    emergency  fan isnt working for the last 6 hours at the t...
..         ...                                                ...
577   feedback             @manojsinhabjp https://t.co/7qbVSFwgdF
578   feedback  @RailMinIndia @RahmanAnsariBOI @drmlko25 Kindl...
579   feedback  @Arunkum01848073 @ccmsrly @SalemDRM @TNRA_Rail...
580   feedback  @RailMinIndia @at_agentofchaos @IR_ENHM Matter...
581   feedback  RT @RailMinIndia: @anshumantiwar10  Please sha...

[582 rows x 2 columns]

In [107]:
def clean_df(data):
    rf_tweet = []
    for tweet in data:
        rf_tweet.append(p.clean(tweet))
    return rf_tweet

In [108]:
rf_tweet_df = pd.DataFrame(clean_df(data[1].values.tolist()))

In [109]:
data=data.drop(1,axis=1)

In [110]:
data.insert(1,1,rf_tweet_df)

In [111]:
data

             0                                                  1
0    emergency  unable to sit due to sticky stains on berth. P...
1    emergency   pnr no need mdical emergency.having blood vomits
2    emergency  mobile stolen , need emergency help to track i...
3    emergency  no water supply in basins for the hast hours,c...
4    emergency  fan isnt working for the last hours at the tim...
..         ...                                                ...
577   feedback
578   feedback                              Kindly look into this
579   feedback                                                  …
580   feedback         Matter notified to the concerned officials
581   feedback                        : Please share your PNR no.

[582 rows x 2 columns]

In [112]:
data = data.where(data[1]!='…' ).dropna()#or data[1]!=':')

In [113]:
data = data.where(data[1]!='').dropna()

In [114]:
data = data.where(data[1]!=': …').dropna()

In [115]:
data = data.where(data[1]!=':').dropna()

In [116]:
data

             0                                                  1
0    emergency  unable to sit due to sticky stains on berth. P...
1    emergency   pnr no need mdical emergency.having blood vomits
2    emergency  mobile stolen , need emergency help to track i...
3    emergency  no water supply in basins for the hast hours,c...
4    emergency  fan isnt working for the last hours at the tim...
..         ...                                                ...
575  emergency  I have a booking in Train Number RXL-HYB speci...
576   feedback  The changed, passenger centric face of Railway...
578   feedback                              Kindly look into this
580   feedback         Matter notified to the concerned officials
581   feedback                        : Please share your PNR no.

[521 rows x 2 columns]

In [117]:
data.to_csv('tweets_cleaned.csv',header=False,index=False)

In [119]:
data = pd.read_csv('tweets_cleaned.csv',header=None)

In [120]:
data[1][222]

': Holistic strategy to ensure growth'